body
  font-family: $font-main
  font-size: 14px
  font-weight: 400
  overflow-x: hidden
  box-sizing: border-box

ul
  margin: 0
  padding: 0
  list-style: none

a
  color: inherit

.container
  width: calc( 100% - 128px)
  margin: 0 auto
  max-width: 1600px
