@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')

//fonts
$font-main: "Open Sans", sans-serif

//colors
$white: #fff
$black: #303030
$dark-grey: #404040
