.header
  background-color: $black
  color: $white
  &__content
    display: flex
    justify-content: space-between
    align-items: center
    height: 108px
    gap: 20px
    @include v-md
      height: 72px
